In [1]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [2]:
path_to_db = '/datasets/telecomm_csi.db'
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [3]:
query = """
SELECT u.user_id, 
       u.lt_day,
       CASE
           WHEN lt_day <=365 THEN 'новый'
           ELSE 'опытный'
       END is_new,
       u.age,
       CASE
           WHEN gender_segment =1 THEN 'женщина'
           ELSE 'мужчина'
       END gender_segment, 
       u.os_name, 
       u.cpe_type_name, 
       l.country, 
       l.city, 
       ag.title AS age_segment,
       tr.title AS traffic_segment,
       lt.title AS lifetime_segment,
       u.nps_score,
       CASE
           WHEN nps_score >=9 THEN 'сторонник'
           WHEN nps_score <=6 THEN 'критик'
           ELSE 'нейтрал'
       END nps_group

FROM user AS u

JOIN location AS l ON u.location_id = l.location_id
JOIN age_segment AS ag ON u.age_gr_id=ag.age_gr_id
JOIN traffic_segment AS tr ON u.tr_gr_id=tr.tr_gr_id
JOIN lifetime_segment AS lt ON u.lt_gr_id=lt.lt_gr_id
"""

In [4]:
df = pd.read_sql(query, engine)
df.head(3)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,опытный,45.0,женщина,ANDROID,SMARTPHONE,Россия,Уфа,05 45-54,04 1-5,08 36+,10,сторонник
1,A001WF,2344,опытный,53.0,мужчина,ANDROID,SMARTPHONE,Россия,Киров,05 45-54,04 1-5,08 36+,10,сторонник
2,A003Q7,467,опытный,57.0,мужчина,ANDROID,SMARTPHONE,Россия,Москва,06 55-64,08 20-25,06 13-24,10,сторонник

In [5]:
df.to_csv('telecomm_csi_tableau.csv', index=False)

### Укажите ссылку на дашборд на сайте Tableau Public:

https://public.tableau.com/shared/9PPHJPB77?:display_count=n&:origin=viz_share_link

### Укажите ссылку на pdf-файл с презентацией:

https://1drv.ms/b/s!Ak1-sB34FBGCmD8C4LGVWFh3WBar?e=ciRPY1